<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

        <title>Jonne-3 - Human - VSTS relations</title>

        <!-- Favicon -->
        <link rel="shortcut icon" href="img/favicon.png">

        <!-- Main CSS file -->
        <link rel="stylesheet" href="css/style.css">

        <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- MENU -->
        <nav class="navbar navbar-fixed-top navbar-default fixednav" role="navigation">
            <div class="navbar-header">
                <!-- begin logo in navigation -->
                <a class="go" href="/"><img src="/img/jonne-3-logo_blue.png" alt=""></a>
                <!-- end logo in navigation -->
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right">
                    <!-- begin navigation items -->
                    <li><a href="#header" class="slide">Home</a></li>
                    <li><a href="#features" class="slide">Features</a></li>
                    <li><a href="#app" class="slide">Install</a></li>
                    <!-- end navigation items -->
                </ul>
            </div>
        </nav>        
        <!-- /MENU -->
        <!-- HEADER -->
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-2 col-md-offset-9 text-center">
                        <button class="button button-login" type="button">Login</button>
                    </div>
                </div>            
                <div class="row">
                    <div class="col-md-12">
                        <div class="logo">
                            <a href="/">
                                <img src="/img/jonne-3-title-image.png" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h1>
                            <strong>Jonne-3</strong> Human / VSTS relations bot. He increases team collaberation and productivity.
                        </h1>
                        <div class="browser">
                            <img class="header" src="/img/header.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- FEATURES #1 -->
        <div id="features" class="lj-features">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <!-- FEATURES HEADING -->
                        <h2><i class="fa fa-windows"></i>Visual Studio Team Services Integration</h2>
                        <p>
                            Increase team collaberation and productivity by having events from Visual Studio Team Services pushed directly
                            to a designated slack channel.
                        </p>
                        <!-- /FEATURES HEADING -->
                        <!-- FEATURES LIST -->
                        <ul>
                            <li>
                                <i class="fa fa-fw fa-server"></i><span>Build events</span>
                            </li>
                            <li>
                                <i class="fa fa-fw fa-users"></i><span>Pull Request events</span>
                            </li>
                            <li>
                                <i class="fa fa-fw fa-tasks"></i><span>Work item events</span>
                            </li>
                        </ul>
                        <!-- /FEATURES LIST -->
                    </div>
                    <div class="col-md-6">
                        <!-- FEATURES IMAGE -->
                        <img src="img/features-1.png" alt="">
                        <!-- /FEATURES IMAGE -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /FEATURES #1 -->
        <!-- SHOP BUTTONS -->
        <div id="app" class="lj-app-buttons">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>Start by integrating Jonne-3 with your Slack Team</h2>
                        <ul>
                            <li><a href='https://slack.com/oauth/authorize?client_id=<%= process.env.SLACK_ID %>&redirect_uri=<%= process.env.SLACK_REDIRECT %>new&scope=bot,incoming-webhook'><img alt="Add to Slack" height="40" width="139" src="/img/add_to_slack.png"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /SHOP BUTTONS -->
        <!-- FOOTER -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- /FOOTER -->
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <!-- Backstretch -->
        <script src="js/jquery.backstretch.min.js"></script>
        <!-- Smoothscroll -->
        <script src="js/smooth-scroll.js"></script>
        <!-- jQuery Easings -->
        <script src="js/jquery.easing.1.3.js"></script>
        <!-- Owl Carousel js -->
        <script src="js/owl.carousel.js"></script>
        <!-- Flat Surface Shader -->
        <script src="js/fss.js"></script>
        <script src="js/fss-settings.js"></script>
        <!-- Retina Display -->
        <script src="js/retinadisplay.js"></script>
        <!-- Magnific Popup -->
        <script src="js/jquery.magnific-popup.min.js"></script>
        <!-- Coffee Break js scripts -->
        <script src="js/lj-coffee-break.js"></script>
    </body>
</html>