<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

        <title>Johnny Three - Interactive Connections Slack Bot</title>

        <!-- Favicon -->
        <link rel="shortcut icon" href="img/favicon.png">

        <!-- Main CSS file -->
        <link rel="stylesheet" href="css/style.css">

        <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- MENU -->
        <div class="lj-menu">
            <div class="row">
                <div class="col-sm-12">
                    <!-- LOGO -->
                    <div class="lj-logo">
                        <a href="#header" class="slide" title="">
                            <img src="img/logo.png" data-retina-src="img/logo@2x.png" alt="">
                        </a>
                        <a href="#header" class="slide floating" title="">
                            <img src="img/logo-floating.png" data-retina-src="img/logo-floating@2x.png" alt="">
                        </a>
                    </div>
                    <!-- /LOGO -->

                    <!-- MOBILE MENU BUTTON -->
                    <a href="#!" class="menu-icon">
                        <span class="menu-icon__text">Show Menu</span>
                    </a>
                    <!-- /MOBILE MENU BUTTON -->

                    <!-- MENU LIST -->
                    <div class="lj-menu-list">
                        <ul>
                            <li><a href="#header" class="slide">Home</a></li>
                            <li><a href="#features" class="slide">Features</a></li>
                        </ul>
                    </div>
                    <!-- /MENU LIST -->
                </div>
            </div>
        </div>
        <!-- /MENU -->
        <!-- HEADER -->
        <header id="header">
            <!-- HEADER OVERLAY --> 
            <div class="lj-overlay lj-overlay-color"></div>
            <!-- /HEADER OVERLAY -->
            <div class="container">
                <div class="row">
                    <div class="col-sm-7">
                        <p>Welcome <%= team.name %>, I am Johnny-Three your personal assisstant slack bot.</p>
                    </div>
                    <!-- HEADER IMAGE -->
                    <div class="col-sm-5 hidden-xs">
                        <img src="img/header.png" alt="">
                    </div>
                    <!-- /HEADER IMAGE -->
                </div>
            </div>
        </header>
        <!-- /HEADER -->
        <!-- PRICING -->
        <div id="pricing" class="lj-pricing">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <!-- PRICING HEADING -->
                        <h2>Try it before you buy it!</h2>
                        <p>Start your 14-day free trial now and enjoy all features. It's easy to upgrade to any of our plans later!</p>
                        <!-- /PRICING HEADING -->
                    </div>
                    <div class="col-sm-4">
                    <div class="lj-price-plan">
                        <!-- PRICING PLAN #1-->
                        <i class="fa fa-clock-o icon"></i>
                        <h3>Trial</h3>
                        <ul>
                            <li><span>Lorem ipsum dolor</span></li>
                            <li><span>Consectetur elit</span></li>
                            <li><span>Sed do eiusmod labore</span></li>
                            <li><span>Sit amet adipisicing</span></li>
                            <li><span>Tempor incididunt</span></li>
                        </ul>
                        <a href="#app" class="price slide">Free</a>
                        <!-- /PRICING PLAN #1-->
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="lj-price-plan">
                        <!-- PRICING PLAN #2-->
                        <i class="fa fa-user icon"></i>
                        <h3>Personal</h3>
                        <ul>
                            <li><span>Lorem ipsum dolor</span></li>
                            <li><span>Consectetur elit</span></li>
                            <li><span>Sed do eiusmod labore</span></li>
                            <li><span>Sit amet adipisicing</span></li>
                            <li><span>Tempor incididunt</span></li>
                        </ul>
                        <a href="#!" class="price"><span>$</span>7.49</a>
                        <!-- /PRICING PLAN #2-->
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="lj-price-plan">
                        <!-- PRICING PLAN #3-->
                        <i class="fa fa-users icon"></i>
                        <h3>Commercial</h3>
                        <ul>
                            <li><span>Lorem ipsum dolor</span></li>
                            <li><span>Consectetur elit</span></li>
                            <li><span>Sed do eiusmod labore</span></li>
                            <li><span>Sit amet adipisicing</span></li>
                            <li><span>Tempor incididunt</span></li>
                        </ul>
                        <a href="#!" class="price"><span>$</span>14.99</a>
                        <!-- /PRICING PLAN #3-->
                    </div>
                </div>
            </div>
            </div>
        </div>
        <!-- /PRICING -->
    </body>
</html>